<div class="article-preview">
  <div class="article-meta">
    {{>article-author-widget}}
    <button class="btn btn-outline-primary btn-sm pull-xs-right" {{#unless user}}disabled{{/unless}}>
      <i class="ion-heart"></i> {{favoritesCount}}
    </button>
  </div>
  <a href="/article/{{slug}}" class="preview-link">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <span>Read more...</span>
  </a>
</div>
