<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
      </div>
  
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            {{#each popularTags}}
              <a href="{{url}}" class="tag-pill tag-default">
                {{tagName}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>